.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;

    &__header {
        justify-content: center;
        width: 70vw;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;

        &__title {
            font-weight: bolder;
            font-size: 1.2rem;
        }

        &__subtitle {
            font-size: 0.8rem;
            color: var(--grayLight);
            margin-bottom: 30px;
        }
    }
}

.home-wrapper {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 900px) {
        width: 95vw;
    }
    
}