.logo {
    &-mini {
        img {
            width: 15vw;
        }
    }
    &-small {
        img {
            width: 30vw;
        }
    }

    &-medium {
        img {
            width: 30vw;
        }
    }
}